/* Stylesheet für die Übungswebsite */

/* Allgemeine Stile für die gesamte Webseite */
html {
  background-color: whitesmoke;
  color: black;
}

/* Stile für das body-Element */
body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}

/* Stile für den Header */
header {
  padding: 2rem 1rem;
}

/* Stile für den ersten Absatz im Header */
header p:first-child {
  font-size: 2.5rem;
  margin: 0;
}

/* Stile für alle Absätze im Header */
header p {
  margin: 0;
}

main {
  line-height: 1.5;
  padding: 0 1rem; 
}

h1 {
  line-height: normal;
  font-weight: 500;
}

a {
  text-decoration-line: underline; 
  text-decoration-style: solid; 
  text-decoration-thickness: 1px; 
  text-underline-offset: 0.25em; 
} 
a:hover, a:focus {
  text-decoration-style: dashed; 
}